@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@600&family=Ubuntu&display=swap');

.font-aref{
font-family: 'Tourney', cursive;
  font-family: 'Ubuntu', sans-serif;
}

body{
  background-image: url('./assets/bg-1.png');
 background-repeat: no-repeat;
 background-size: cover;
  margin: 0;
  padding: 0;
  
}

.bg-home{
  background-image: url('./assets/bg-gradient.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}



.bg-mb{
  background-image: url('./assets/bg-plato.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.bg-login{
  background-image: url('./assets/bg-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.text-layout {
  font-family: 'San Francisco', sans-serif;
}

/* Ocultar flechas en los input tipo number */
.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
 
}

.input-layout {
  width: 16rem;
  border: 1px solid rgb(190, 32, 32);
  padding: 4px;
  padding-left: 10px;
  padding-top: 4px;
  border-radius: 10px;
  background-color: white;
}

.layout-rol {
  height: 50%;
}

.layout-color {
  background-color: rgb(160, 14, 14);
}
